:root {
    --header-height-sm: 35px;

    --spacer-xs: .25em;
    --spacer-sm: .5em;
    --spacer-md: 1em;
    --spacer-lg: 2em;

    --border-radius-sm: 5px;
    --border-radius-md: 10px;

    --box-shadow-light: 0 2px 10px -3px black;




}